<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

<h1 class="header">*** Checkerboard ***</h1> 
<div class="container">
    <table>
    {% for i in range(3): %}
        <tr>
            {% for j in range(3): %}    
            <td class="box{{ (i+j)%2+1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>   



<script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</body>
</html>